* {
    font-family:   Raleway, Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
body>h1,body>h3 {
    text-align: center;
    font-size: 40px;
}
body>h3 {
    font-size: 25px;
}
.content {
    max-width: 1200px;
    margin: auto;
    padding: 0 90px;
}
.timeline-container {
    max-width: 1000px;
    margin: 150px auto 0 auto;
    position: relative;
}
.time-line {
    border-top: 2px solid #0093ff;
}
.node {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -10px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.node:hover {
    cursor: pointer;
}
.node-one {
    left: 0;
    background-color: rgb(14, 131, 205);
}
.node-two {
    left: 20%;
    background-color: rgb(240, 96, 96);
}
.node-three {
    left: 40%;
    background-color: rgb(252, 208, 75);
}
.node-four {
    left: 60%;
    background-color: rgb(46, 204, 113);
}
.node-five {
    left: 80%;
    background-color: rgb(158, 84, 189);
}
.node-six {
    left: 100%;
    background-color: rgb(255, 123, 75);
}
.node-selected::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    background-color: inherit;
}
.info-panel {
    width: 100px;
    position: absolute;
    left: 50%;
    text-align: center;
    padding: 20px;
    margin-left: -70px;
    border-top: 2px solid #0093ff;
    border-bottom: 2px solid #0093ff;
    top: -20px;
    transform: translateY(-100%);
    display: none;
    cursor: alias;
    font-weight: 500;
    background-color: white;
}
.hovering-node, .node-selected .info-panel {
    display: block;
}
.date-label {
    font-size: 18px;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    position: absolute;
    left: 50%;
    bottom: -30px;
}
.info-all {
    display: none;
    font-size: 10px;
}
.info-container {
    margin-top: 100px;
    border: 1px solid transparent;
}
.node-selected .date-label{
    font-weight: 500;
}


.info-all>h4 {
    font-size: 3em;
    text-align: center;
}
.info-all>h3 {
    font-size: 4.2em;
    font-weight: 300;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}
.info-all img {
    display: block;
    margin: 60px auto;
    padding: 3px;
}
.the-discovery, .the-model {
    font-size: 1em;
    margin: 60px 0;
}
.the-discovery h3, .the-model h3{
    text-align: left;
    font-size: 4.2em;
    font-weight: 300;
}
.the-discovery, .the-discovery ol {
    font-size: 1em;
}
.the-discovery p, .the-model p, .the-discovery li {
    font-size: 1.8em;
}
hr {
    margin: 0;
    border: 0px;
}
.img-container{
    max-width: 400px;
    padding: 0;
    float: right;
    margin: 0 0 25px 25px;
}
.img-container img {
    margin: 0 auto;
    padding: 0;
    max-width: 400px;
    max-height: 400px;
}
.img-container p {
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

.info-0>h3 {
    border-bottom: 1px solid rgb(14, 131, 205);
}
.info-0>img {
    background-color: rgb(14, 131, 205);
}
.info-0>hr {
    border-top: 1px solid rgb(14, 131, 205);
}

.info-1>h3 {
    border-bottom: 1px solid rgb(240, 96, 96);
}
.info-1>img {
    background-color: rgb(240, 96, 96);
}
.info-1>hr {
    border-top: 1px solid rgb(240, 96, 96);
}

.info-2>h3 {
    border-bottom: 1px solid rgb(252, 208, 75);
}
.info-2>img {
    background-color: rgb(252, 208, 75);
}
.info-2>hr {
    border-top: 1px solid rgb(252, 208, 75);
}

.info-3>h3 {
    border-bottom: 1px solid rgb(46, 204, 113);
}
.info-3>img {
    background-color: rgb(46, 204, 113);
}
.info-3>hr {
    border-top: 1px solid rgb(46, 204, 113);
}

.info-4>h3 {
    border-bottom: 1px solid rgb(158, 84, 189);
}
.info-4>img {
    background-color: rgb(158, 84, 189);
}
.info-4>hr {
    border-top: 1px solid rgb(158, 84, 189);
}

.info-5>h3 {
    border-bottom: 1px solid rgb(255, 123, 75);
}
.info-5>img {
    background-color: rgb(255, 123, 75);
}
.info-5>hr {
    border-top: 1px solid rgb(255, 123, 75);
}

.info-0 .img-container {
    border: 3px solid rgb(14, 131, 205);
}
.info-1 .img-container {
    border: 3px solid rgb(240, 96, 96);
}
.info-2 .img-container {
    border: 3px solid rgb(252, 208, 75);
}
.info-3 .img-container {
    border: 3px solid rgb(46, 204, 113);
}
.info-4 .img-container {
    border: 3px solid rgb(158, 84, 189);
}
.info-5 .img-container {
    border: 3px solid rgb(255, 123, 75);
}
.info-1 .img-container img {
    max-width: 200px;
    padding-top: 10px;
}